.headerRow {
	height: 100px;
	width: 960px;
}

.col4-container {
	height: 800px;
	width: 800px;
}

.col1 {
	width: 300px;
	height: 780px;
	margin: 2px;
	float: left;
}

.col234 {
	width: 120px;
	margin: 2px;
	float: left;

}